body {
    margin: 0;
}

#profile {
    z-index: 1;
    position: absolute;
    background-color: antiquewhite;
    width: 150px;
    text-align: center;
}
#profile h2{

}
/* #health-bar {
    height: 50px;
    width: 200px;
    background-color: red;
    transition: 0.5s;
}

#attack-button {
    margin: 1rem;
}

#heal-button {
    margin: 1rem;
} */

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    color: white;
    border-bottom: solid 6px black;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid 6px black;
}

#navbar h3 {
    cursor: pointer;
}

